{% extends 'base.html' %}
{% block body %}
<div class = center>



<div class="card form-card">
    <h1>Create a FAQ</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btn-container ">
            <button class="btn" id="blue-btn" type="submit">Send</button>
            <a class="btn" id="red-btn" href="{% url 'specialist_dashboard' ticket_type='archived' %}">Back</a>
        </div>
    </form>
</div>

<div class="card form-card">
    <h1>Ticket Contents</h1>
    {% include 'partials/message_list.html' %}
</div>

</div>

{% endblock %}
