<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="equal-width-btns">
        <button class="btn" id="blue-btn" type="submit">
        {% if request.resolver_match.url_name == 'faq_update' %}
          <div class="icon-shift">
             <span>Update</span>
            <i class="bi bi-check-lg"></i>
           
          </div>
          {% else %}
          <div class="icon-shift">   
            <span>Add</span>
            <i class="bi bi-check-lg"></i>
          </div>
          {% endif %}
        </button>
    </div>
   
</form> 
<div class="equal-width-btns">
  <button class="btn" id="red-btn" type="button" onclick="history.back()">
    <div class="icon-shift"> 
      <span>Cancel</span>
      <i class="bi bi-x-lg"></i>
     
    </div>
  </button>
</div>
  
