<header>
    <div>
        <a href="{% url 'home' %}">Home</a>
        {% if user.role == 'SP' %}
        <a href="{% url 'specialist_dashboard' %}">Dashboard</a>
        <a href="{% url 'faq_form_view' %}">Create FAQ</a>
        {% endif %}
        {% if user.is_authenticated %}
            Welcome back, {{ user.first_name }}, you are logged in as a {{ user.get_role_display }}
        <a href="{% url 'logout' %}">Logout</a>
        {% if user.role != 'SP' %}
        <a href="{% url 'create_ticket' %}">create ticket</a>
        {% endif %}
        {% else %}
           <a href="{% url 'login' %}">Login</a>
           <a href="{% url 'signup' %}">Sign Up</a>
           <a href="{% url 'faq' %}">FAQ</a>

        {% endif %}
    </div>
</header>
