<header>
    <div>
        <a href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
        {% if user.role == 'SP' %}
        <a href="{% url 'specialist_dashboard' %}">Dashboard</a>
        {% endif %}
            Welcome back, {{ user.first_name }}, you are logged in as a {{ user.get_role_display }}
        {% if user.role == 'SP' %}
            The department you are in is: {{department_name}}
        {% endif %}
        <a href="{% url 'logout' %}">Logout</a>
        {% if user.role == 'ST' %}
        <a href="{% url 'student_dashboard' %}">Dashboard</a>
        <a href="{% url 'create_ticket' %}">Create ticket</a>
        {% endif %}
        {% else %}
           <a href="{% url 'login' %}">Login</a>
           <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </div>
</header>
