:root {
    --blue: #0360F3;
    --red: #DC392D;
    --purple: #620BB6;
    --gray: #475B63;
    --primary: #E9ECF2;
}

/* Partials */

.footer {
    text-align: center;
}

.navbar {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.container {
    margin-top: 3vmin;
    margin-bottom: 3vmin;
}

/* Buttons */

#blue-btn {
    --bs-btn-bg: transparent;
    --bs-btn-color: var(--blue);
    --bs-btn-border-color: var(--blue);
    --bs-btn-hover-color: var(--primary);
    --bs-btn-hover-bg: var(--blue);
}

#red-btn {
    --bs-btn-bg: transparent;
    --bs-btn-color: var(--red);
    --bs-btn-border-color: var(--red);
    --bs-btn-hover-color: var(--primary);
    --bs-btn-hover-bg: var(--red);
}

.form-card {
    padding: 3vmin;
    margin: 5vmin;
}

#dash-card {
    box-shadow: 0 4px 20px  rgba(0, 0, 0, 0.06);
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}


#dash-card-header {
    display: flex;
    justify-content: space-between;
    color: var(--blue);
    padding-top:1.5vmin;
    font-size: 3vmin;
}

#dash-card-header-link {
    font-size: 2vmin;
    text-align: right;
}

#dash-card-body {
    padding-left: 0px;
    padding-right: 0px
}
