:root {
    --blue: #0360F3;
    --red: #DC392D;
    --green: #00BA94;
    --yellow: #F4A31A;
    --orange: #ED5524;
    --purple: #620BB6;
    --grey: #475B63;
    --primary: #E9ECF2;
}

/* Animations */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Partials */

.footer {
    text-align: center;
}

/* Navbar */
.navbar {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

#navatar-spacing {
    padding-left: 4vmin;
    padding-right: 4vmin;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
}

#navatar {
    font-family:'Source Code Pro';
    aspect-ratio: 1/1;
    border-style: solid;
    border-radius: 5vmin;
    border-color: var(--bs-nav-link-color);
    border-width: 1.5px;
    text-align: center;
    align-items: center;
    overflow: cover;
    min-height: 40px;
    min-width: 40px;
    max-height: 40px;
    max-width: 40px;
}

#navatar-dropdown {
    animation: fadeIn 0.5s;
    margin-top: 2vmin;
    margin-right: 15vmin;
}

.dropdown-name {
    margin-bottom: 0;
}

.dropdown-sub {
    color: var(--grey);
    font-size:x-small;
    margin-bottom: 0.5vmin;
}

hr.solid {
    margin-top: 1vmin;
    border-top: 3px solid #bbb;
}

/* Main elements */

.container {
    margin-top: 3vmin;
    margin-bottom: 3vmin;
}

.pagination {
    display: flex;
    justify-content: center;
    color: var(--blue);
}

.banner {
    background: rgb(3,96,243);
    background: linear-gradient(90deg, rgba(3,96,243,1) 0%, rgba(110,34,242,1) 100%);
}

ul {
    list-style-type: none;
}


/* Buttons */

#blue-btn {
    --bs-btn-bg: transparent;
    --bs-btn-color: var(--blue);
    --bs-btn-border-color: var(--blue);
    --bs-btn-hover-color: var(--primary);
    --bs-btn-hover-bg: var(--blue);
}

#red-btn {
    --bs-btn-bg: transparent;
    --bs-btn-color: var(--red);
    --bs-btn-border-color: var(--red);
    --bs-btn-hover-color: var(--primary);
    --bs-btn-hover-bg: var(--red);
}
.equal-width-btns button {
    width: 100px;
    flex: 1;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
  }

  /* Card container */

.form-card {
    padding: 3vmin;
    margin: 5vmin;
}

/* Dashboard */
.dash-banner {
    height: 35vmin;
    padding: 1vmin;
    padding-left: 20vmin;
    padding-top: 5vmin;
    margin-top: -5vmin;
    margin-left: -18vmin;
    margin-right: -18vmin;
    margin-bottom: -15vmin;
}

.dash-title {
    display: flex;
    margin-bottom: 0px;
    color: white;
    align-items: center;
}

.dash-subtitle {
    padding-top: 1vmin;
    color: white;
    opacity: 0.5;
}

#dash-card {
    box-shadow: 0 4px 20px  rgba(0, 0, 0, 0.06);
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}


#dash-card-header {
    display: flex;
    justify-content: space-between;
    color: var(--blue);
    padding-top:1.5vmin;
    font-size: 3vmin;
}

#dash-card-header-link {
    font-size: 2vmin;
    text-align: right;
}

#dash-card-body {
    padding-left: 0px;
    padding-right: 0px
}

/* FAQ Page */
.faq-banner {
    height: 25vmin;
    padding: 5vmin;
    margin-top: -3vmin;
    margin-left: -18vmin;
    margin-right: -18vmin;
    margin-bottom: 3vmin;
}

.faq-header {
    margin-top: 3.5vmin;
    text-align: center;
    font-size: 7vmin;
    color: white;
}

.faq-icon {
    opacity: 0.5;
    font-size: 5vmin;
    padding-right: 0.5vmin;
}

.faq-divider {
    color: var(--grey);
    opacity: 0.7;
}

.faq-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 2vmin;

}

.faq-card {
    margin-top: 0;
    font-weight: 400;
}

#dept-1 {
    color: var(--yellow);
}

#dept-2 {
    color: var(--red);
}

#dept-3 {
    color: var(--green);
}

#dept-4 {
    color: var(--purple);
}

#dept-5 {
    color: var(--orange);
}

/* icon style */
.icon-shift {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
}

.icon-shift i {
  margin-right: 0rem;
}

.icon-shift span {
  margin-right: 0;
  justify-content: center;
}

/*form error animation*/

.form-group input:required:invalid{
    border-color: var(--red);
    animation: shake 0.5s;
  }
.form-group input:required:valid{
    border-color: var(--blue);
}
.form-group input:required:empty{
    border-color: var(--blue);
    animation: none;
}

  @keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }
