<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous" defer></script>
    </head>
    <body>
        {% include 'partials/header.html' %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags}}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </div>
        </ul>
        {% endif %}
        <div>
            <a href = "{% url 'search_bar' %}">Search Bar</a>
        </div>
        {% block body %}
        {% endblock %}
        {% include 'partials/footer.html' %}
    </body>
</html>
