{% extends 'base.html' %}

{% block body %}
<html>
  {% load user_role_filters %}
  <head>
    <title> Change Password </title>
  </head>
  <body>


    <h1 class='list'>Change Password</h1>

    {% if error_str|length > 0 %}
        {{ error_str }}

    {% else %}

      <form method="post" style="display: inline;">
        {% csrf_token %}

        ID: {{user.id}}<br><br>
        Email: {{user.email}}<br><br>
        First Name: {{user.first_name}}<br><br>
        Last Name: {{user.last_name}}<br><br>
        Account Type: {{user.role|user_role_string}}<br>

        {{ form.as_p }}



        <input type="submit" name="change" value="Change">
      </form>

      <form method="post" style="display: inline;">
        {% csrf_token %}

        <input type="submit" name="cancel" value="Cancel">

      </form>
    {% endif %}


  </body>
</html>
{% endblock %}
