{% extends 'base.html' %}
{% block body %}
<div class="dept-faq-header">
  <h3 class="dept-faq-title">{{ department_name }}</h3>
  <a href="{% url 'faq' %}" style="text-decoration:none; color: #919191;">← Back to FAQs</a>
</div>
<hr>
<table class="dept-faq-table">
{% for obj in object_list %}
    <tr>

      <td>
        <div class="panel card">
          <div class="panel-title card-header"><b>Q: {{ obj.questions }}</b></div>
          <div class="panel-content card-body">A: {{ obj.answer }}</div>
        </div>
      </td>

    </tr>
  {% endfor %}
</table>
{% include 'partials/pagination.html'  %}
{% endblock %}
{% include 'partials/footer.html' %}
