
{% extends 'base.html' %}

{% block body %}

  {% comment %} <a href="{% url 'department_faq' obj.slug %}">
    <p class="text-white ">
        {{   obj.name }} 
    </p> 
</a>  {% endcomment %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  {%for obj in object_list %} 
   
    <div class="col">
      <div class="card"> 
        <a href="{%url 'department_faq' obj.slug%}"class="btn" id="blue-btn">
        <div class="card-body">
          <h5 class="card-title">{{obj.name}}</h5>
          <p class="card-text"></p>
       
        </div> 
      </a>
      </div>
    </div>
 
  {%endfor%}

</div>

{%include 'partials/pagination.html' %}
{% endblock %}
{%include 'partials/footer.html' %}
