{% block body %}
<!-- This is a test -->
<style>
    table, th, td {
      border:1px solid rgb(81, 38, 38);
    }
</style>
<h1>Inbox</h1>
    <h2>Open Tickets</h2>
    <a href="{% url 'closed_student_inbox' %}">Closed Tickets</a>
    <table id="open-tickets">
        <thead>
            <th colspan="4">Header</th>
            <th>Department</th>
        </thead>
        {% for ticket in page_obj %}
            {% if ticket.status == 'open' %}
            <tr class="ticket-container">
                <td colspan="5">
                    <a href="{% url 'student_message' pk=ticket.id %}" style="text-decoration: none; display: block;">
                        {{ticket.header}}
                    </a>
                </td>
                <td colspan="2">
                    <a href="{% url 'student_message' pk=ticket.id %}" style="text-decoration: none; display: block;">
                        {{ticket.department.name}}
                    </a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}

        </span>
    </div>
{% endblock %}
