<h1>Inbox</h1>
<h2>{{ ticketType }} Tickets</h2>
<style>
    table, th, td {
      border:1px solid rgb(81, 38, 38);
    }
</style>

<div>
        <table>
            <thead>
                <th>Deparment</th>
                <th>Header</th>
            </thead>
        {% for ticket in page_obj %}
            <tr>
                {% if user.role != "ST" %}
                    <td>{{ticket.student}}</td>
                {% endif %}
                <td>{{ticket.department.name}}</td>
                <td>{{ticket.header}}</td>
                {% if user.role == "SP" %}
                <td>
                    {% if ticketType == "department" %}
                        <button type="button">
                            <a href="{% url 'ticket' %}">View ticket</a>
                        </button>
                    {% endif %} 
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
</div>

        {% comment %} {% if user.role == "SP %"}

       
    </div>

    <!-- <div class="col-sm-3">
        <table class="table table-bordered " border="1">
            <tr>
                <td colspan="4">Tickets</td>
            </tr>
            {% if user.role == "ST" %}
                <p>This is a student</p>
            {% endif %}
            {% if user.role == "SP" %}
                {% if ticketType == "department" %}
                    {% for ticket in object_list %}
                        <tr>
                            <td>{{ticket.student}}</td>
                            <td>{{ticket.department.name}}</td>
                            <td>{{ticket.header}}</td>
                            <td>
                                <form method="POST">
                                    {% csrf_token %}
                                    <button type="submit" name="view_ticket" value="{{ ticket.id }}"
                                            class="button is-secondary">View
                                    </button>
                                </form>
                             </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </table>
    </div> --> {% endcomment %}
