{% extends 'base.html' %}

{% block body %}
<title>Home</title>
<h1>Home page</h1>
<p class="lorem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet vestibulum mi. Fusce eu lectus blandit,
    euismod diam non, congue velit. Curabitur fringilla facilisis auctor. Cras consequat elit at arcu auctor, sit amet
    rhoncus lacus ultrices. Fusce nec odio nec mi vestibulum sagittis. Aenean vitae viverra sapien, non tincidunt nunc.
    Donec laoreet lacus eu magna molestie posuere. Nam sodales risus congue metus finibus cursus. Mauris malesuada
    dapibus lorem eu tempus. Ut elementum, tellus et pellentesque euismod, nunc ipsum euismod dolor, quis vulputate
    justo eros fermentum lorem. Nulla facilisi. Quisque mi urna, tempor eget libero quis, venenatis consequat ex. Sed
    pulvinar aliquet risus ut auctor. Duis hendrerit nisl sit amet tortor convallis tempus. Nunc ipsum mauris, ultricies
    in pretium eget, vehicula at ex. Mauris justo augue, suscipit nec lacinia in, semper sit amet diam.
</p>

{% endblock %}
