{%include 'base.html' %}
{% block body %}
<!-- search bar -->
<div class="search_bar">   
  <form action = "{% url 'search_bar' %}" method="GET">
    <input type="text" name="query" placeholder="Search...">
    <button type="submit">Search</button>
  </form>
</div>
<!-- allow user to select top three departments -->
{% if top_departments%}
<div class = "department">
  <p>Select departments that match with your query:</p>
    <form method="GET" action="{% url 'search_bar'%}">
      {% csrf_token %}
      {% for department_name, department_id in top_departments.items %}
        <button type="submit" name = department value="{{ department_id }}">{{ department_name }}</button>
      {% endfor %}
      {% if query %}
        <input type="hidden" name="query" value="{{ query }}">
      {% endif %}
    </form>
    <p>Either give us more information or create a ticket.</p>
      <button type="button">
        <a href="{% url 'create_ticket' %}">Create a Ticket</a>
      </button>
</div>
{% endif %}

<!-- allow user to select the subsections now. -->
{% if top_subsections%}
<div class = "subsection">
  <p>Select a subsection that matches with your query:</p>
    <form method="GET">
      {% csrf_token %}
      {% for subsection_name, subsection_id in top_subsections.items %}
        <button type="submit" name = subsection value="{{ subsection_id }}">{{ subsection_name }}</button>
      {% endfor %}
      {% if query %}
        <input type="hidden" name="query" value="{{ query }}">
      {% endif %}
    </form>
    <p>Either give us more information or create a ticket.</p>
      <button type="button">
        <a href="{% url 'create_ticket' %}">Create a Ticket</a>
      </button>
</div>
{% endif %}

<!-- now allow user to select the FAQs -->
{% if top_FAQs%}
<div class = "GET">
  <p>Select a FAQs that match with your query:</p>
    <ol>
      {% for FAQ in top_FAQs %}
        <li> 
          <button name = "FAQ" type="submit" value = "hello">{{FAQ}}</button>
        </li>
      {% endfor %}
    </ol>
    <p>Either give us more information or create a ticket.</p>
      <button type="button">
        <a href="{% url 'create_ticket' %}">Create a Ticket</a>
      </button>
</div>

{% endif %}
{%endblock%}