{% extends 'base.html' %}
{% block body %}

    <h1>Specialist dashboard</h1>
    <div>
        {% comment %} <form method="post">
            {% csrf_token %}
            <button type = "submit" name = "typeOfTicket" value = "department"> Department</button>
            <button type = "submit" name = "typeOfTicket" value = "personal"> Personal</button>
            <button type = "submit" name = "typeOfTicket" value = "archived"> Archived</button>
        </form> {% endcomment %}
    </div>

    {% include 'inbox.html' %}
    
    
    
{% endblock %}