{% extends 'base.html' %}
{% block body %}
<h1 style="display: inline-block;">Subject: {{ ticket.header }}</h1><br/>
<h1 style="display: inline-block;">Department: {{ ticket.department }}</h1>
<hr>
<div class="container">
    <!-- {% for message in messages %}
        <div class="message">
            <p class= "date-time">Date time: {{ message.date_time }}</p>
            {% if message.responder %}
                <p class = "Specialist , content">Specialist: {{message.content}}</p>
            {% else %}
                <p class = "Student, content">Student: {{message.content}}</p>
            {% endif %}
        </div>
    {% endfor %} -->
</div>
<div>
    <ul>
        {% for message in message_list %}
        <li>
        "{{ message.content }}"
        <br/>
        {% if message.responder %}
        {{ message.responder.first_name }} {{ message.responder.email}}
        {% else %}
        {{ ticket.student.first_name }} {{ ticket.student.email }}
        {% endif %}
        {{ message.date_time }}
        </li><br/>
        {% endfor %}
    </ul>
</div>
{% if user.is_authenticated %}
<div>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add comment">
    </form>
</div>
{% endif %}

{% endblock %}
