{% extends 'base.html' %}
{% block body %}
    <div class="form-card card" style="min-width:18vmin;">
        <div class="card-header">
            <h1>Ticket</h1>
        </div>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h4>Ticket header  :</h4>
                <p>{{ticket.header}}</p>
            </li>
            <li class="list-group-item">
                <h4>Ticket message  :</h4>
                <p>{{message.content}}</p>
            </li>
            <li class="list-group-item">
                <h4>Ticket user  :</h4>
                <p>{{ticket.student.first_name}} {{ticket.student.last_name}}</p>
            </li>
          </ul>

        <div class="card-footer">
            <form method="POST">
                {% csrf_token %}
                
                <button type = "submit" name = "accept_ticket" value = {{ticket.id}} class="btn btn-outline-success"> Claim</button>
                <a href  ="{% url 'specialist_dashboard' %}" id="blue-btn" class="btn">Back</a>
                
            </form>
        </div>
    </div>
    <!-- <h1>Ticket</h1>

    <div>
        <p>Ticket header  : {{ticket.header}}   </p>
        <p>Ticket message : {{message.content}} </p>
        <p>Ticket user    : {{ticket.student.first_name}} {{ticket.student.last_name}} </p>
    </div>

    <div>
        <form method="POST">
            {% csrf_token %}
            
            <button type = "submit" name = "accept_ticket" value = {{ticket.id}}> Claim</button>
            <button type = "button">
                <a href  ="{% url 'specialist_dashboard' %}">Back</a>
            </button>
            
        </form>
    </div> -->
    
{% endblock %}