{% extends 'base.html' %}
{% block body %}
    <h1>Specialist dashboard</h1>
    <div>
        <form method="POST">
            {% csrf_token %}
            <button type = "submit" name = "type_of_ticket" value = "department"> Department </button>
            <button type = "submit" name = "type_of_ticket" value = "personal"  > Personal   </button>
            <button type = "submit" name = "type_of_ticket" value = "archived"  > Archived   </button>
        </form>
    </div>
    {% include 'inbox.html' %}
{% endblock %}